MLFLOW_MODEL_URI=
MODEL_DIR=model/imported_model
MODEL_METADATA_PATH=model/model_metadata.json
DATABASE_URL=
# Environnement d'exécution : "preprod" ou "prod" (défaut : "preprod").
APP_ENV=preprod
DEBUG=
